<section id='showcase'>
  <div class='container'>
    <h1>
      Affordable Professional Web Design
    </h1>
    <p *ngFor='let homedata of (data | slice:0:1);'>
      {{homedata.company.catchPhrase}}
    </p>
  </div>
</section>
<section id='newsletter' >
  <div class='container' >
    <h1>Subscribe to our newsletter</h1>
    <form>
      <input type='email' placeholder="Enter Email...">
      <button type='submit' class='button_1'>Subscribe</button>
    </form>
  </div>
</section>
<section id='boxes'>
  <div class='container'>
    <div class='box'>
      <img src="assets/images/html.png">
      <h3>HTML5 Markup</h3>
      <p *ngFor='let homeData of (data | slice:0:1)'>
        {{homeData.company.catchPhrase}}
      </p>
    </div>
    <div class='box'>
      <img src="assets/images/css3.png">
      <h3>CSS3 Styling</h3>
      <p *ngFor='let homeData of (data | slice:0:1)'>
        {{homeData.company.catchPhrase}}
      </p>
    </div>
    <div class='box'>
      <img src="assets/images/images.jpeg">
      <h3>Graphic Design</h3>
      <p *ngFor='let homeData of (data | slice:0:1)'>
        {{homeData.company.catchPhrase}}
      </p>
    </div>
  </div>
</section>
